.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.footerNames {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    gap: 13px;
    font-size: 12px;
}
.footerNames:hover {
    text-decoration: underline;
}

.footerBottom {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 12px;
    justify-content: space-around;
    font-size: 12px;
}