.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.phone {
  margin-right: 700px;
  margin-bottom: 20px;
  width: 400px; 
  
}
